#grid-container {
    display: grid;

    gap: 2px;
    /* max-width: 400px; */
    /* max-height: 400px; */
  }
  
  .cell {
    background-color: #eee;
    border: 1px solid #ccc;
    width: 18px;
    height: 18px;
  }

